@import "../_variables"
header
  width 100%
  background-color $font_color

  p.title
    width 100%
    text-align center
    padding-top 8px
    font-size 2.5rem
    a
      color $bg_color

  p.subtitle
    width 100%
    text-align center
    padding-bottom 8px
    font-size 1.3rem
    font-style italic
    color $bg_color
