@import('../_variables')

#paginator
  padding-top 20px
  display flex
  justify-content space-between

  a
    &:hover
      color $lv3_color

  #older
    margin-left auto

@media screen and (max-width: 959px)
  #paginator
    display none
