link(rel="stylesheet", href=url_for("/css/component/footer.css"), media="print", onload="this.media='all'")
footer
  nav
    a(href=url_for("/")) Top
    | ・
    a(href=url_for("/privacypolicy/")) Privacy Policy
  .copyright
    p &copy; 2020 OldBigBuddha.
    p Powered by
      a(href="https://hexo.io")  Hexo.