link(rel="stylesheet", href=url_for("/css/component/header.css"))
header
  a(href=url_for("/"))
  #site__name
    p.title: a(href=url_for("/"))= config.title
    if config.subtitle
      p.subtitle= config.subtitle
