include ../_mixin/helpers.pug

doctype
html(lang=config.language)
  include ./head.pug
  body
    div.flex.flex-col.min-h-full
      include ./header.pug

      section(class=" w-screen md:w-3/5 mx-2 md:mx-auto")
        block content
        block pagination

      include ./footer.pug
    include ./scripts.pug