include ../_mixin/helpers.pug

doctype
html(lang=config.language)
  include ./head.pug
  body
    #wrapper
      include ./header.pug

      section.content
        block content
        block pagination

      include ./footer.pug
    include ./scripts.pug