if page.prev || page.next
  div.flex.justify-between.mt-4
    if page.layout === "post"
      if page.prev
        div
          a(class="hover:text-green-600 hover:underline" href=url_for(page.prev_link || page.prev.path))= page.prev.title
      if page.next
        div.ml-auto
          a(class="hover:text-green-600 hover:underline" href=url_for(page.next_link || page.next.path))= page.next.title
    else
      if page.prev
        div
          a(href=url_for(page.prev_link || page.prev.path)) 新しい記事へ

      if page.next
        div.ml-auto
          a(href=url_for(page.next_link || page.next.path)) 古い記事へ