if page.prev || page.next
  #paginator
    if page.prev
      #newer
        a(href=url_for(page.prev_link || page.prev.path)) 新しい記事へ

    if page.next
      #older
        a(href=url_for(page.next_link || page.next.path)) 古い記事へ