@import '_variables'

.post__achive
  margin 70px auto 30px
  h2
    font-size 2.4rem

  .achive__list
    li
      margin-top: 10px;

      span
        font-size: 1.6rem

      a
        font-size 1.6rem
        margin-left 20px

@media screen and (max-width: 480px)
  .achive__list
    li
      span
        width 90px
        display inline-block
        vertical-align top

      a
        width calc(90% - 100px)
        display inline-block

.about
  margin 70px auto 30px