@import '_variables'

body
  background-color $bg_color
  color $font_color
  font-family $font_family
  font-style normal
  font-weight 400
  height 100vh
  width 100vw

a
  color #1FAE89
  text-decoration none
  font-weight bold

img
  max-width 100%
  padding 0.5em 0
  margin auto
  display block
