header
  h1
    a
      color #333

.content
  width 100%

.posts
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center

.post
  width 350px
  background #fff
  border-radius 5px
  box-shadow 0 2px 5px #ccc
  margin 20px

  &:hover
    box-shadow 0 10px 20px -5px rgba(0,0,0,.4)
    transform translateY(-2px)
    transition-duration 0.3s

.post--eye-catch
  position relative
  border-radius  5px 5px 0 0
  max-width  100%
  height  240px
  background-color #1fae89

.eye-catch--year
  color #fdfdfd
  background-color #424242
  font-size 1.3em
  width 30%
  position absolute
  top 5%
  left 0
  padding-left 16px

.eyecatch--text
  width 100%
  height 40%
  margin auto
  text-align center
  color #fdfdfd
  font-size 85px
  letter-spacing .1em

.post--content
  padding 20px

.content--title
    font-size 20px
    text-align center
    color #333
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

.post--tags
  list-style none
  padding-left .5em
  display flex

.tags--tag
  margin-right .3em

.tag--link
  display inline-block
  max-width 100px
  height 28px
  line-height 28px
  padding 0 1em
  background-color #fff
  border 1px solid #aaa
  border-radius 3px
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
  color #333
  font-size 13px
  text-decoration none
  transition .2s
  &:hover
    background-color #333
    color #fff
    color $selection_color

#index--hr
  margin 0 80px

#index--pagination
  margin 0 100px