article.content__post
  section
    font-size 1.2em

    p
      text-indent 1em

    p.no-indent
      text-indent 0

    // 箇条書き

    ul, ol
      background #fcfcfc
      padding 0.5em 0.5em 0.5em 2em
      margin 8dp

    ul li, ol li
      line-height 1.5
      padding 0.5em 0

    // 引用
    blockquote
      position relative
      padding 10px 15px 10px 60px
      margin-top 24px
      margin-bottom 32px
      font-style italic
      background #efefef
      color #555
      &:before
        display inline-block
        position absolute
        top 18px
        left 15px
        vertical-align middle
        content "\f10d"
        font-family "Font Awesome 5 Free"
        color #cfcfcf
        font-size 30px
        line-height 1
        font-weight 900
      p
        padding 0
        margin 10px 0
        line-height 1.7
      cite
        display block
        text-align right
        color #888888
        font-size 0.9em

    // 強調・イタリック体

    // 水平線

    // リンク
    a
      color $primary


    img
      display block
      max-width 100%
      margin 1em auto

    // 文中のコード
    code
      font-size 90%
      margin 0 2px
      padding 0 5px
      border 1px solid rgba(0,0,0,.08)
      background-color rgba(0,0,0,.03)
      border-radius 3px

    // 表
    table
      border-collapse collapse
      border 1px solid #ccc
      line-height 1.5
    th
      padding 10px
      font-weight bold
      vertical-align top
      border 1px solid #ccc
      border-bottom 3px solid #ccc
    td
      padding 10px
      vertical-align top
      border 1px solid #ccc
    tr:nth-child(even)
      background #DDFEE4

    // コメントアウト
    .accordion
      width 100%
      border 3px solid #ccc
      margin 20px 0

    .accordion--title
      display block
      padding 15px
      line-height 1
      cursor pointer
      background-color #ccc
      color #888

      &::before
        content '// '

    .accordion--content
      height 0
      background-color #cccccc55
      overflow hidden
      font-style italic
      transition all 0.5s

    .accordion--title-checkbox
        display none

@media screen and (max-width 959px)
  article.content__post
    hr#top
      margin-bottom 1.5em

    section
      h2
        width 100%
        margin-top 1em