article.content__post
  section
    font-size 1.2em

    // 見出し
    h1, h2, h3, h4, h5, h6
      margin-top 1em
      margin-bottom 1em

    h2
      padding 0.25em 0.5em
      color #494949
      background transparent
      border-left solid 5px #080808
      font-size 1em

    // 箇条書き

    ul, ol
      background #fcfcfc
      padding 0.5em 0.5em 0.5em 2em
      margin 8dp

    ul li, ol li
      line-height 1.5
      padding 0.5em 0

    // 引用
    blockquote
      position relative
      padding 10px 15px 10px 60px
      margin-top 24px
      margin-bottom 32px
      font-style italic
      background #efefef
      color #555
      &:before
        display inline-block
        position absolute
        top 18px
        left 15px
        vertical-align middle
        content "\f10d"
        font-family "Font Awesome 5 Free"
        color #cfcfcf
        font-size 30px
        line-height 1
        font-weight 900
      p
        padding 0
        margin 10px 0
        line-height 1.7
      cite
        display block
        text-align right
        color #888888
        font-size 0.9em

    // 強調・イタリック体

    // 水平線

    // リンク
    a
      color $primary


    img
      display block
      max-width 100%
      margin 1em auto

    // 文中のコード
    code
      font-size 90%
      margin 0 2px
      padding 0 5px
      border 1px solid rgba(0,0,0,.08)
      background-color rgba(0,0,0,.03)
      border-radius 3px