article.content__post
  section
    font-size 1.2em

    // 見出し
    h1, h2, h3, h4, h5, h6
      margin-top 1em
      margin-bottom 1em

    h1
      padding-bottom .25em
      border-bottom solid 3px #080808

    h2
      padding 0.25em 0.5em
      color #494949
      background transparent
      border-left solid 5px #080808
      font-size 1em

    // 箇条書き

    ul li
      display list-item
      line-height 1.5
      padding 0.5em 0

    // 引用
    blockquote
      position relative
      padding 7px 16px
      box-sizing border-box
      font-style italic
      color #464646
      background-color #f0f7ff
      &:before
          display inline-block
          position absolute
          top -20px
          left -20px
          width 40px
          height 40px
          line-height 40px
          border-radius 50%
          vertical-align middle
          text-align center
          content "\f10d"
          font-family "Font Awesome 5 Free"
          font-weight 900
          background #72ccf4
          color #FFF
          font-size 22px
          font-weight 900
      &:after
          display inline-block
          position absolute
          bottom -20px
          right -20px
          width 40px
          height 40px
          line-height 40px
          border-radius 50%
          vertical-align middle
          text-align center
          content "\f10e"
          font-family "Font Awesome 5 Free"
          font-weight 900
          background #72ccf4
          color #FFF
          font-size 22px
          font-weight 900
      p
          padding 0
          margin 10px 0
          line-height 1.7
      cite
          display block
          text-align right
          color #888888
          font-size 0.9em

    // 強調・イタリック体

    // 水平線

    // リンク
    a
      color $primary


    img
      display block
      max-width 100%
      margin 1em auto

    // 文中のコード
    code
      font-size 90%
      margin 0 2px
      padding 0 5px
      border 1px solid rgba(0,0,0,.08)
      background-color rgba(0,0,0,.03)
      border-radius 3px