@import "./notations.styl"

article.content__post

  h1.post__title
    font-size 2.5em
    text-align center

  .post__date
    text-align center
    margin-bottom 24px

  hr
    margin-bottom 36px

  p
    font-size 1.2rem
    margin-bottom 1.2em


.post_paginator
  margin: 30px 0
  text-align center
  &::after
  clear both
  content ""
  display table

  .pre
    float left
    &::before
      content "< "

  .next
    float right
    &::after
      content " >"

.paginator
  margin-top 50px
  &::after
  clear both
  content ""
  display table

  a
    display inline-block
    padding 5px 10px
    font-size 1.6rem
    background-color #ebfaf2
    color #1FAE89
    border 1px solid
    border-radius 5px

    &:hover
      background-color #D7F6E5

    &:first-child
      order 1

    &:last-child
      order 0

  .pre
    float left

  .next
    float right