@import "./notations.styl"

article.content__post
  font-family "Noto Serif JP","游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,sans-serif;

  h1.post__title
    font-size 2.5em
    text-align center

  .post__date
    text-align center
    margin-bottom 24px

  hr
    margin-bottom 36px

  p
    font-size 1.2rem


.post_paginator
  margin: 30px 0
  text-align center
  &::after
  clear both
  content ""
  display table
  .pre
    float left
    &::before
      content "< "

  .next
    float right
    &::after
      content " >"

  .post__tags
  text-align right
  margin-top 20px
    a
      line-height 1.7rem
      display inline-block
      margin-left 1em
      position relative
      padding-left 1.5em
      padding-right 1.5em
      border-radius 0 .28571429rem .28571429rem 0
      -webkit-transition none
      transition none
      background-color #ebfaf2
      border-color #00b5ad
      color #1FAE89
      &::before
        box-sizing border-box
        position absolute
        -webkit-transform translateY(-50%) translateX(50%) rotate(-45deg)
        transform translateY(-50%) translateX(50%) rotate(-45deg)
        top 50%
        right 100%
        content ""
        background-color inherit
        background-image none
        width 1.2rem
        height 1.2rem
        -webkit-transition none
        transition none
      &::after
        position absolute
        content ""
        top 50%
        left -.25em
        margin-top -.25em
        background-color #fff !important
        width .5em
        height .5em
        box-shadow 0 -1px 1px 0 rgba(0,0,0,.3)
        border-radius 500rem

.paginator
  margin-top 50px
  &::after
  clear both
  content ""
  display table

  a
    display inline-block
    padding 5px 10px
    font-size 1.6rem
    background-color #ebfaf2
    color #1FAE89
    border 1px solid
    border-radius 5px

    &:hover
      background-color #D7F6E5

    &:first-child
      order 1

    &:last-child
      order 0

  .pre
    float left

  .next
    float right