.share
  display flex
  justify-content space-evenly
  padding 4px
  width 100%
  cursor pointer

.button
  height 40px
  width 20%
  background-color white
  display flex
  box-shadow 2px 2px 1px gray
  transition: all .3s

  &:hover
    background-color black
    color white

  img
    display block
    width 20px
    flex 0 1 auto
    margin auto
  i
    flex 0 1 auto
    margin auto
