footer
  .copynight
    p &copy; 2018 OldBigBuddha.
    p Powered by
      a(href="https://hexo.io")  Hexo.
    p Theme by
      a(href="https://github.com/Simlesos/hexo-theme-chord" alt="Chord'sGitHub Repository")  Chord.